<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2"><%= user.name %> <span class="fs-6">خوش آمدید</span></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="users/register/<%= user.id %> " class="btn btn-warning"
        >ثبت مشتری</a
      >
      <a href="/shoppingcart" class="btn btn-secondary">سبد خرید</a>
    </div>
  </div>
  <div></div>
</div>
<%- include("./inc/message.ejs") %>
<% if(UserList.length > 0){ %>
<h2>تمام کاربران</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="">
      <tr>
        <th scope="col">#</th>
        <th scope="col">نام</th>
        <th scope="col">شماره تلفن</th>
        <th scope="col">آدرس</th>
        <th scope="col">ویرایش</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
      <% let i = 0 %> <% UserList.forEach(e => { %>
      <tr>
        <td><%- i = i + 1 %></td>
        <td><%- e.name %></td>
        <td><%- e.phoneNumber %></td>
        <td><%- e.adress %></td>
        <td>
          <a href="users/edit/<%= e.id %>" class="btn btn-warning"> ویرایش</a>
        </td>
        <td>
          <a href="users/delete/<%= e.id %>" class="btn btn-danger">حذف</a>
        </td>
      </tr>
      <%}); %>
    </tbody>
  </table>
</div>
<% }else{ %>
<div class="container text-center">
  <h2 class="text-danger">کاربری برای نمایش وجود ندارد</h2>
</div>
<% } %>
